footer{
    background-color: $button-color;
    padding: 30px; 
    margin-top: 40px;
    div{ 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p{
            color: #f2f2f2;
            font-size: 12px;
        }
    }
    img{
        width:50px;
    }
}